{% extends "main/header.html" %}
{% block content%}

<div class="container center">
    <h3>EV@Test</h3>
    <div class="row">
    <div class="col-sm-12">
        <h4>Subscribe to our Newsletter For a Test Drive</h4>
        <div>
            <form class = "form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                <button class="btn btn-theme" type="submit" style = "background-color:rgb(38, 83, 83);">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock%}